{% extends "base.html" %}
 {% block page_content %}
<!DOCTYPE html>
     <html>
     <!--<script type="text/javascript" src="caman.full.min.js"></script>-->
     <head>
         <!--<link rel="stylesheet" type="text/css" href="/static/styles/style.css">-->
     </head>

     <body>
     <div class="page-header">
         <h1>BeatControl under construction</h1>
     </div>
     <div class="body">
         <h3>This is a tutorial on Flask.</h3>
         <h4>Hope you'll enjoy it</h4>
     </div>

     <div class="container">
         <img src="{{user_image}}" alt="User Image">
         <img src="{{selfie}}" alt="Selfie">
         <div class="overlay">My Name is James</div>
     </div>
     <div>{{ table }}</div>
     </body>
     </html>

{% endblock %}
